<div class="notas-container d-flex flex-column align-items-center mt-4">
  <div class="nota-creador shadow-sm p-3 w-50 mb-5" [class.expandido]="estaEditando">
    <input *ngIf="!estaEditando" (focus)="estaEditando = true" 
           type="text" placeholder="Añade una nota..." class="form-control bg-transparent border-0 text-white fw-bold">

    <div *ngIf="estaEditando">
      <input type="text" placeholder="Título" class="form-control bg-transparent border-0 text-white fw-bold mb-2 shadow-none">
      <textarea placeholder="Añade una nota..." class="form-control bg-transparent border-0 text-white shadow-none" rows="3"></textarea>
      
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="iconos-nota text-secondary">
          <i class="bi bi-bell me-3"></i>
          <i class="bi bi-person-plus me-3"></i>
          <i class="bi bi-palette me-3"></i>
          <i class="bi bi-image me-3"></i>
          <i class="bi bi-archive me-3"></i>
        </div>
        <button class="btn btn-link text-white text-decoration-none fw-bold" (click)="estaEditando = false">Cerrar</button>
      </div>
    </div>
  </div>

  <div class="row w-100 px-4">
      <p class="text-secondary text-center">Tus notas aparecerán aquí...</p>
  </div>
</div>